<div>
    <center>
        <%= image_tag 'icon_home.png' %>
    </center>
    <div>
       <h1> <center>Home Page</center> </h1>
    </div>
</div>

<footer> 
 <%= link_to 'About',about_path%>
</footer>
